<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Restaurantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/CSS/style_quienes_somos.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/googleyelp/static/images/logoSINGHT.png" alt="logo" width="200px" height="200px">
        </div>
        <div class="banner">
          <div class="carousel">
            <img src="/googleyelp/static/images/DataAnalitics.PNG" alt="Imagen 1" class="active">
            <img src="/googleyelp/static/images/DataScience.PNG" alt="Imagen 2">
            <img src="/googleyelp/static/images/DataEnginner.PNG" alt="Imagen 3">
          </div>
        </div>
  </header>
  <nav class="navbar navbar-expand-lg">
    <div class="container justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/googleyelp/" class="btn btn-outline-light nav-link">PROYECTO</a>
            </li>
            <li class="nav-item">
                <a href="/googleyelp/quienes_somos" class="btn btn-outline-light nav-link">QUIENES SOMOS</a>
            </li>
            <li class="nav-item">
                <a href="/googleyelp/resumen" class="btn btn-outline-light nav-link">RESUMEN</a>
            </li>
            <li class="nav-item">
                <a href="/googleyelp/contacto" class="btn btn-outline-light nav-link">CONTACTENOS</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
    <h1 class="text-center">STAR SIGHT SOLUTIONS</h1>
    <div class="d-flex justify-content-center mb-3">
    <div class="card">
        <div class="image-container">
            <img id="profile-image" src="/googleyelp/static/images/FondoMary.png" alt="Perfil">
        </div>
        <div class="info">
            <h2 id="profile-name">Maria José Grecco </h2>
            <p id="profile-summary">Data Analitics y Data Scientist</p>
        </div>
    </div>

    <div class="card">
        <div class="image-container">
            <img id="profile-image" src="/googleyelp/static/images/FondoEsteban.png" alt="Perfil">
        </div>
        <div class="info">
            <h2 id="profile-name">Esteban Ariel Parrón</h2>
            <p id="profile-summary">Data Analitics y Data Scientist</p>
        </div>
    </div>

    <div class="card">
        <div class="image-container">
            <img id="profile-image" src="/googleyelp/static/images/FondoLucho.png" alt="Perfil">
        </div>
        <div class="info">
            <h2 id="profile-name">Luis Gonzalez</h2>
            <p id="profile-summary">Data Enginner</p>
        </div>
    </div>
    <div class="card">
        <div class="image-container">
            <img id="profile-image" src="/googleyelp/static/images/FondoSanty.png" alt="Perfil">
        </div>
        <div class="info">
            <h2 id="profile-name">Santiago Mejias</h2>
            <p id="profile-summary">Data Analitics</p>
        </div>
    </div>
    <div class="card">
        <div class="image-container">
            <img id="profile-image" src="/googleyelp/static/images/file.png" alt="Perfil">
        </div>
        <div class="info">
            <h2 id="profile-name">Joaquin Rubbiolo</h2>
            <p id="profile-summary">Data Scientist</p>
        </div>
    </div>
</div>
    <script src="scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>